.resultats-recherche tr td:nth-child(2) {
    width: 100%;
}

.resultats-recherche tr td:nth-child(3) {
    text-align: right;
}

.panneau {
    padding-top: 15px;
}

.liste-vide {
    font-style: italic;
    text-align: center;
    padding-top: 12px;
}